<#macro myLayout title="Layout example">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="${assetsAt('/css/bootstrap.css')}" rel="stylesheet">
    <link href="${assetsAt('/js/google-code-prettify/prettify.css')}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="${assetsAt('/css/bootstrap-responsive.css')}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="${assetsAt('/ico/favicon.ico')}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="${assetsAt('/ico/apple-touch-icon-144-precomposed.png')}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="${assetsAt('/ico/apple-touch-icon-114-precomposed.png')}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="${assetsAt('/ico/apple-touch-icon-72-precomposed.png')}">
    <link rel="apple-touch-icon-precomposed" href="${assetsAt('/ico/apple-touch-icon-57-precomposed.png')}">
  </head>

  <body>

    <div class="container">
        <#include "header.ftl.html"/>
		<#if flash.error??>
			<div class="row">
				<div class="col-xs-12">
					<div class="well">
						<h3>An Error Occurred</h3>
						<p class="text-danger">${flash.error}</p>
					</div>
				</div>
			</div>
		</#if>
		<#if flash.success??>
			<div class="row">
				<div class="col-xs-12">
					<div class="well">
						<h3>Operation Successful</h3>
						<p class="text-success">${flash.success}</p>
					</div>
				</div>
			</div>
		</#if>
        <#nested/>
        <#include "footer.ftl.html"/>
    </div>
    <script src="${assetsAt('/js/jquery.js')}"></script>
    <script src="${assetsAt('/js/google-code-prettify/prettify.js')}"></script>
    <script src="${assetsAt('/js/bootstrap-transition.js')}"></script>
    <script src="${assetsAt('/js/bootstrap-alert.js')}"></script>
    <script src="${assetsAt('/js/bootstrap-modal.js')}"></script>
    <script src="${assetsAt('/js/bootstrap-dropdown.js')}"></script>
    <script src="${assetsAt('/js/bootstrap-scrollspy.js')}"></script>
    <script src="${assetsAt('/js/bootstrap-tab.js')}"></script>
    <script src="${assetsAt('/js/bootstrap-tooltip.js')}"></script>
    <script src="${assetsAt('/js/bootstrap-popover.js')}"></script>
    <script src="${assetsAt('/js/bootstrap-button.js')}"></script>
    <script src="${assetsAt('/js/bootstrap-collapse.js')}"></script>
    <script src="${assetsAt('/js/bootstrap-carousel.js')}"></script>
    <script src="${assetsAt('/js/bootstrap-typeahead.js')}"></script>
    <script src="${assetsAt('/js/application.js')}"></script>
</body>
</html>
</#macro>
